<a href="https://colab.research.google.com/github/wlrjs1300-coder/AI_26/blob/main/03_Ai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd # 판다스를 pd라는 별칭으로 부름

# 파이선 리스트를 통해 시리즈 생성
series_data = pd.Series([True, 3.14, 'ABC'])

# 데이터 타입과 시리즈 출력
print(type(series_data))
print(series_data)

<class 'pandas.core.series.Series'>
0    True
1    3.14
2     ABC
dtype: object

In [7]:
# 파이썬 딕셔너리를 통해 데이터프레임 생성
df = pd.DataFrame({'c0':[1,2,3],'c1':[4,5,6]})

# 데이터 타입과 데이터프레임 출력
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

   c0  c1
0   1   4
1   2   5
2   3   6

In [8]:
netflix = pd.read_csv('./netflix_selena.csv')
netflix

,show_id,type,title,director,cast,country,release_year,duration,listed_in
0,1,TV Show,Squid Game,NaN,Lee Jung-jae,NaN,2021,300,NaN
1,2,TV Show,Stranger Things,NaN,Winona Ryder,United States,2019,800,TV Horror
2,3,Movie,Sherlock Holmes,Guy Ritchie,Robert Downey Jr,"United States, Germany",2009,128,Action & Adventure
3,4,Movie,Iron Man & Captain America: Heroes United,Leo Riley,Adrian Pasdar,United States,2014,71,NaN
4,5,Movie,Bird Box,Susanne Bier,Sandra Bullock,United States,2018,124,NaN
5,6,TV Show,Anne with an E,NaN,Amybeth McNulty,Canada,2019,900,NaN
6,7,Movie,About Time,Richard Curtis,Domhnall Gleeson,NaN,2013,123,NaN
7,8,Movie,Inception,Christopher Nolan,Leonardo DiCaprio,United States,2010,148,NaN

In [9]:
netflix.to_csv('netflix_new.csv',index=False)

In [10]:
netflix = pd.read_csv('netflix_selena.csv')
# 열 이름 확인
list(netflix.columns)

['show_id',
 'type',
 'title',
 'director',
 'cast',
 'country',
 'release_year',
 'duration',
 'listed_in']

In [11]:
list(netflix.index)

[0, 1, 2, 3, 4, 5, 6, 7]

In [12]:
netflix.index = ['1행','2행','3행','4행','5행','6행','7행','8행']
netflix

,show_id,type,title,director,cast,country,release_year,duration,listed_in
1행,1,TV Show,Squid Game,NaN,Lee Jung-jae,NaN,2021,300,NaN
2행,2,TV Show,Stranger Things,NaN,Winona Ryder,United States,2019,800,TV Horror
3행,3,Movie,Sherlock Holmes,Guy Ritchie,Robert Downey Jr,"United States, Germany",2009,128,Action & Adventure
4행,4,Movie,Iron Man & Captain America: Heroes United,Leo Riley,Adrian Pasdar,United States,2014,71,NaN
5행,5,Movie,Bird Box,Susanne Bier,Sandra Bullock,United States,2018,124,NaN
6행,6,TV Show,Anne with an E,NaN,Amybeth McNulty,Canada,2019,900,NaN
7행,7,Movie,About Time,Richard Curtis,Domhnall Gleeson,NaN,2013,123,NaN
8행,8,Movie,Inception,Christopher Nolan,Leonardo DiCaprio,United States,2010,148,NaN

In [13]:
netflix.loc['3행']

show_id                              3
type                             Movie
title                  Sherlock Holmes
director                   Guy Ritchie
cast                  Robert Downey Jr
country         United States, Germany
release_year                      2009
duration                           128
listed_in           Action & Adventure
Name: 3행, dtype: object

In [14]:
netflix = pd.read_csv('netflix_selena.csv')
# 데이터 처음 5개의 행 출력
netflix.head()

,show_id,type,title,director,cast,country,release_year,duration,listed_in
0,1,TV Show,Squid Game,NaN,Lee Jung-jae,NaN,2021,300,NaN
1,2,TV Show,Stranger Things,NaN,Winona Ryder,United States,2019,800,TV Horror
2,3,Movie,Sherlock Holmes,Guy Ritchie,Robert Downey Jr,"United States, Germany",2009,128,Action & Adventure
3,4,Movie,Iron Man & Captain America: Heroes United,Leo Riley,Adrian Pasdar,United States,2014,71,NaN
4,5,Movie,Bird Box,Susanne Bier,Sandra Bullock,United States,2018,124,NaN

In [15]:
netflix.tail()

,show_id,type,title,director,cast,country,release_year,duration,listed_in
3,4,Movie,Iron Man & Captain America: Heroes United,Leo Riley,Adrian Pasdar,United States,2014,71,NaN
4,5,Movie,Bird Box,Susanne Bier,Sandra Bullock,United States,2018,124,NaN
5,6,TV Show,Anne with an E,NaN,Amybeth McNulty,Canada,2019,900,NaN
6,7,Movie,About Time,Richard Curtis,Domhnall Gleeson,NaN,2013,123,NaN
7,8,Movie,Inception,Christopher Nolan,Leonardo DiCaprio,United States,2010,148,NaN

In [16]:
netflix.shape

(8, 9)

In [17]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8 non-null      int64
 1   type          8 non-null      object
 2   title         8 non-null      object
 3   director      5 non-null      object
 4   cast          8 non-null      object
 5   country       6 non-null      object
 6   release_year  8 non-null      int64
 7   duration      8 non-null      int64
 8   listed_in     2 non-null      object
dtypes: int64(3), object(6)
memory usage: 708.0+ bytes

In [18]:
data = {'name': ['Alice','Bob','charlie','David','Eve'],
        'age' : [24, 27, 22, 32, 29],
        'city' : ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']}
df = pd.DataFrame(data)
# 데이터프레임의 크기 확인
print('DataFrame shape : ', df.shape)

DataFrame shape :  (5, 3)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    5 non-null      object
 1   age     5 non-null      int64
 2   city    5 non-null      object
dtypes: int64(1), object(2)
memory usage: 252.0+ bytes

In [20]:
import pandas as pd
netflix = pd.read_csv('netflix_selena.csv')
# title 열 선택, 대괄호 안에 열 이름을 따옴표와 함께 입력
title = netflix['title']
title.head()

0                                   Squid Game
1                              Stranger Things
2                              Sherlock Holmes
3    Iron Man & Captain America: Heroes United
4                                     Bird Box
Name: title, dtype: object

In [21]:
netflix = pd.read_csv('netflix_selena.csv')
# 2개의 열을 선택하여 데이터프레임으로 반환, 이중 대괄호 [[]] 안에 열 이름 입력
title_release_year = netflix[['title','release_year']]
title_release_year.head()

                                       title  release_year
0                                 Squid Game          2021
1                            Stranger Things          2019
2                            Sherlock Holmes          2009
3  Iron Man & Captain America: Heroes United          2014
4                                   Bird Box          2018

In [22]:
title = netflix[['title']]
title.head()

                                       title
0                                 Squid Game
1                            Stranger Things
2                            Sherlock Holmes
3  Iron Man & Captain America: Heroes United
4                                   Bird Box

In [23]:
netflix = pd.read_csv('netflix_selena.csv')
# 2015년 이후에 나온 콘텐츠만 추출(True, False 반환)
netflix['release_year'] > 2015

0     True
1     True
2    False
3    False
4     True
5     True
6    False
7    False
Name: release_year, dtype: bool

In [24]:
more2015 = netflix[netflix['release_year']>2015]
more2015.head()

,show_id,type,title,director,cast,country,release_year,duration,listed_in
0,1,TV Show,Squid Game,NaN,Lee Jung-jae,NaN,2021,300,NaN
1,2,TV Show,Stranger Things,NaN,Winona Ryder,United States,2019,800,TV Horror
4,5,Movie,Bird Box,Susanne Bier,Sandra Bullock,United States,2018,124,NaN
5,6,TV Show,Anne with an E,NaN,Amybeth McNulty,Canada,2019,900,NaN

In [25]:
less2015 = netflix[~(netflix['release_year']>2015)]
less2015.head()

,show_id,type,title,director,cast,country,release_year,duration,listed_in
2,3,Movie,Sherlock Holmes,Guy Ritchie,Robert Downey Jr,"United States, Germany",2009,128,Action & Adventure
3,4,Movie,Iron Man & Captain America: Heroes United,Leo Riley,Adrian Pasdar,United States,2014,71,NaN
6,7,Movie,About Time,Richard Curtis,Domhnall Gleeson,NaN,2013,123,NaN
7,8,Movie,Inception,Christopher Nolan,Leonardo DiCaprio,United States,2010,148,NaN

In [26]:
netflix = pd.read_csv('netflix_selena.csv')

# 2015년 이후에 나온 콘테츠이면서 쇼의 자르가 TV show인 데이터 추출
(netflix['release_year']>2015) & (netflix['type'] == 'TV Show')

0     True
1     True
2    False
3    False
4    False
5     True
6    False
7    False
dtype: bool

In [27]:
netflix = pd.read_csv('netflix_selena.csv')
# .loc[] : 데이터프레임의 행과 열의 이름을 사용
# 전체 행과 title과 release_year의 열을 출력
title_year = netflix.loc[:,['title','release_year']]
title_year.head()

                                       title  release_year
0                                 Squid Game          2021
1                            Stranger Things          2019
2                            Sherlock Holmes          2009
3  Iron Man & Captain America: Heroes United          2014
4                                   Bird Box          2018

In [28]:
# .loc[] : 데이터프레임의 행과 열의 이름을 사용
# 0번째, 1번째 행과 title과 release_year의 열을 출력
title_year = netflix.loc[[0,1],['title','release_year']]
title_year.head()

             title  release_year
0       Squid Game          2021
1  Stranger Things          2019

In [29]:
# .index : 행 이름 변경
netflix.index = ['A','B','C','D','E','F','G','H']
# .loc[] : 데이터프레임의 행과 열의 이름을 사용
# B, C 행과 title과 release_year의 열을 출력
title_year = netflix.loc[['B','C'],['title','release_year']]
title_year.head()

             title  release_year
B  Stranger Things          2019
C  Sherlock Holmes          2009

In [30]:
netflix = pd.read_csv('netflix_selena.csv')
# .iloc[] : 데이터프레임의 행과 열 번호를 사용
# 3번째, 4번째 행과 1번째, 3번째 열을 출력
type_director = netflix.iloc[[3,4],[1,3]]
type_director.head()

    type      director
3  Movie     Leo Riley
4  Movie  Susanne Bier

In [31]:
# .isin(values) : 각 요소가 values에 포함된 값인지 파악하여 True/False 반환
# type 변수의 값이 TV Show일 경우 True 반환, 아니면 False
netflix['type'].isin(['TV Show'])

0     True
1     True
2    False
3    False
4    False
5     True
6    False
7    False
Name: type, dtype: bool

In [32]:
# 논리형 인덱싱 + isin() : 데이터의 특정 범위만 추출
# type 변수의 값이 TV Show일 경우만 추출하여 TV_Show 저장
TV_Show = netflix[netflix['type'].isin(['TV Show'])]
TV_Show.head()

,show_id,type,title,director,cast,country,release_year,duration,listed_in
0,1,TV Show,Squid Game,NaN,Lee Jung-jae,NaN,2021,300,NaN
1,2,TV Show,Stranger Things,NaN,Winona Ryder,United States,2019,800,TV Horror
5,6,TV Show,Anne with an E,NaN,Amybeth McNulty,Canada,2019,900,NaN

In [33]:
netflix = pd.read_csv('netflix_selena.csv')
# 결측치 확인 (1) - .isna().sum()
netflix.isna().sum()

show_id         0
type            0
title           0
director        3
cast            0
country         2
release_year    0
duration        0
listed_in       6
dtype: int64

In [34]:
# 결측치 확인 (2) - .info()
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8 non-null      int64
 1   type          8 non-null      object
 2   title         8 non-null      object
 3   director      5 non-null      object
 4   cast          8 non-null      object
 5   country       6 non-null      object
 6   release_year  8 non-null      int64
 7   duration      8 non-null      int64
 8   listed_in     2 non-null      object
dtypes: int64(3), object(6)
memory usage: 708.0+ bytes

In [35]:
# 결측치 확인 (3) - for문
for i in netflix.columns:
  missingValueRate = netflix[i].isna().sum() / len(netflix) * 100
  if missingValueRate > 0:
    print("{} null rate : {}%".format(i, round(missingValueRate, 2)))

director null rate : 37.5%
country null rate : 25.0%
listed_in null rate : 75.0%